/* body {
    background: #e0e0e0
} */

/* START SEARCH RESULTS SECTION */
.searchform {
    padding: unset;
}

.search-section {
    border: 1px solid rgb(216, 216, 216);
    border-radius: .25rem;
    background: #ebebeb;
    padding: 2.75rem 1rem;
}

.bucket-name {
    font-size: 2rem;
    text-align: right;
    font-weight: 700;
    line-height: 40px;
}

/* start location checkboxes */
.location-selector input {
    display: none!important;
}
  
.location-selector input[type=checkbox] + label,  input[type=radio] + label {
    display: inline-block;
    border-radius: 6px;
    background: #f7f7f7;
    color: #dddddd;;
    height: 2.5rem;
    width: 60px;
    margin-right: 3px;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
}

#ntmd-button input[type=radio]:checked + label {
    background: #3a3a3a;
    color: #ffffff;
}
#shlf-button input[type=radio]:checked + label {
    background: #a7a7a7;
    color: #ffffff;
}
#c218-button input[type=checkbox]:checked + label {
    background: #5b397a;
    color: #ffffff;
}
#c312-button input[type=checkbox]:checked + label {
    background: #1463b5;
    color: #ffffff;
}
#c318-button input[type=checkbox]:checked + label {
    background: #368f80;
    color: #ffffff;
}
#ga10-button input[type=checkbox]:checked + label {
    background: #46aa27;
    color: #ffffff;
}
#ga18-button input[type=checkbox]:checked + label {
    background: #dece0d;
    color: #ffffff;
}
#smpl-button input[type=checkbox]:checked + label {
    background: rgb(247, 119, 14);
    color: #ffffff;
}
#sp10-button input[type=checkbox]:checked + label {
    background: #cf1b1b;
    color: #ffffff;
}
#sp14-button input[type=checkbox]:checked + label {
    background: rgb(220, 47, 226);
    color: #ffffff;
}

label {
    margin-bottom: unset;
}
/* end location checkboxes */
/* ENDSEARCH RESULTS SECTION */

/* START INKS IN USE SECTION */
h3 {
    margin-top: 4rem;
}

.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    cursor: pointer;
}

.sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px; 
}

.ui-state-highlight { 
    height: 2rem; 
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(214, 214, 214) !important;
}
/* END INKS IN USE SECTION */

