body {
    background: #000
}

#home {
    margin-top: 2rem;
    color: gray;
    text-decoration: none;
}

input:focus {
    outline: none; 
}

/* START SEARCH RESULTS SECTION */
.search-section {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid;
}

.searchform {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbox {
    border: none;
    border-radius: 25px;
    padding: .5rem 0 .5rem 1rem;
}

.searchsubmit {
    background: url(assets/search.svg) 0 0 no-repeat;
    width: 20px; 
    height: 15px; 
    display: block;
    border: none;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-left: -25px;
    margin-right: 1rem;
}

.search-result-placeholder { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #333333; */
    /* border-radius: .25rem; */
    min-height: 10rem;
}

.bucket-name-placeholder {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: #333;
    line-height: 1;
}

#placeholder-button {
    display: inline-block;
    border-radius: .25rem;
    background: #151515;
    border: 1px solid #000000;
    color: #3a3a3a;
    height: 2.4rem;
    width: 80px;
    line-height: 2.4rem;
    text-align: center;
    cursor: pointer; 
}

.search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #333333; */
    /* border-radius: .25rem; */
    min-height: 10rem;
}

.bucket-name {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
}

.ui-widget.ui-widget-content {
    border: unset !important;
    border: 1px solid #aaaaaa;
    background: #00000087;
    color: #8e8e8e;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 3px 1em 3px 1.1em !important;
}

.ui-menu .ui-menu-item-wrapper:hover {
    background: transparent !important;
    color: white;
    border: none;
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}


/* start location checkboxes */
.location-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location-selector input {
    display: none!important;
}
  
.location-selector input[type=checkbox] + label,  input[type=radio] + label {
    display: inline-block;
    border-radius: .25rem;
    background: #151515;
    border: 1px solid #000000;
    color: #3a3a3a;
    height: 2.4rem;
    width: 80px;
    line-height: 2.4rem;
    text-align: center;
    cursor: pointer;
}

/* start ntmd-button effects */
#ntmd-button input[type=radio]:checked + label {
    background: #494949;
    color: #ffffff;
}
#ntmd-button input[type=radio]:checked + label:hover {
    background: #313131;
    color: #ffffff;
}
#ntmd-button input[type=radio]:checked + label:active {
    background: #222222;
    color: #ffffff;
}
#ntmd-button input[type=radio]:not(:checked) + label:hover {
    border: 1px solid #494949;
    color: #313131;
}
#ntmd-button input[type=radio]:not(:checked) + label:active {
    border: 1px solid #222222;
    color: #222222;
}
/* end ntmd-button effects */

#shlf-button input[type=radio]:checked + label {
    background: #a7a7a7;
    color: #ffffff;
}
#shlf-button input[type=radio]:not(:checked) + label:hover {
    border: 1px solid #a7a7a7;
    color: #a7a7a7;
}

#c218-button input[type=checkbox]:checked + label {
    background: #564092;
    color: #ffffff;
}
#c218-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #564092;
    color: #564092;
}

#c312-button input[type=checkbox]:checked + label {
    background: #1463b5;
    color: #ffffff;
}
#c312-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #1463b5;
    color: #1463b5;
}

#c318-button input[type=checkbox]:checked + label {
    background: #368f80;
    color: #ffffff;
}
#c318-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #368f80;
    color: #368f80;
}


/* start ga10-button effects */
#ga10-button input[type=checkbox]:checked + label {
    background: #46aa27;
    color: #ffffff;
}
#ga10-button input[type=checkbox]:checked + label:hover {
    background: #589c44;
    color: #ffffff;
}
#ga10-button input[type=checkbox]:checked + label:active {
    background: #3a8323;
    color: #ffffff;
}
#ga10-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #46aa27;
    color: #46aa27;
}
#ga10-button input[type=checkbox]:not(:checked) + label:active {
    border: 1px solid #3a8323;
    color: #3a8323;
}
/* end ga10-button effects */


#ga18-button input[type=checkbox]:checked + label {
    background: #dece0d;
    color: #ffffff;
}
#ga18-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #dece0d;
    color: #dece0d;
}

#smpl-button input[type=checkbox]:checked + label {
    background: #f7770e;
    color: #ffffff;
}
#smpl-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #f7770e;
    color: #f7770e;
}

#sp10-button input[type=checkbox]:checked + label {
    background: #cf1b1b;
    color: #ffffff;
}
#sp10-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #cf1b1b;
    color: #cf1b1b;
}

#sp14-button input[type=checkbox]:checked + label {
    background: #c952ce;
    color: #ffffff;
}
#sp14-button input[type=checkbox]:not(:checked) + label:hover {
    border: 1px solid #c952ce;
    color: #c952ce;
}

label {
    margin-bottom: unset;
}

.submit-location {
    display: inline-block;
    color: black;
    border: 1px solid black;
    background: white;
    border-radius: .25rem;
    font-size: 15px;
    padding: .4rem .5rem;
    height: 2.4rem;
    width: 80px;
}

.submit-location:hover {
    background: #efefef;
}
/* end location checkboxes */
/* ENDSEARCH RESULTS SECTION */

/* START INKS IN USE SECTION */
h3 {
    margin-top: 2rem;
}

.inuse {
    margin-top: 5rem;
}

/* #press-col {
    margin:.25rem;
} */

.press-header {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

#c218-col-header {
    color: #564092;
}

.c218-ink {
    color: #564092 !important;
    border: 1px solid #564092 !important;
}

#c312-col-header {
    color: #0058b3;
}

.c312-ink {
    color: #0058b3 !important;
    border: 1px solid #0058b3 !important;
}

#c318-col-header {
    font-weight: 600;
    color: #368f80;
}

#c318-col-header {
    color: #368f80;
}

.c318-ink {
    color: #368f80 !important;
    border: 1px solid #368f80 !important;
}

#ga10-col-header {
    color: #46aa27;
}
.ga10-ink {
    color: #46aa27 !important;
    border: 1px solid #46aa27 !important;
}

#ga18-col-header {
    font-weight: 600;
    color: #dece0d;
}
.ga18-ink {
    color: #dece0d !important;
    border: 1px solid #dece0d !important;
}

#smpl-col-header {
    font-weight: 600;
    color: #f7770e;
}
.smpl-ink {
    color: #f7770e !important;
    border: 1px solid #f7770e !important;
}

#sp10-col-header {
    font-weight: 600;
    color: #cf1b1b;
}
.sp10-ink {
    color: #cf1b1b !important;
    border: 1px solid #cf1b1b !important;
}

#sp14-col-header {
    font-weight: 600;
    color: #c952ce;
}
.sp14-ink {
    color: #c952ce !important;
    border: 1px solid #c952ce !important;
}

.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    cursor: pointer;
}

.sortable li {
    margin: 0 0 5px 0;
    padding: 5px;
    border-radius: .35rem;
    text-align: center;
}

.ui-state-highlight { 
    height: 2rem; 
    background: rgb(0, 0, 0) !important;
    border: 1px solid rgb(75, 75, 75) !important;
}

.ui-state-default {
    background: #000 !important;
}
/* END INKS IN USE SECTION */

