.row {
    padding-top: 2rem;
}

#searchresults {
    position: relative;
}


.bucket-name {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.press-buttons {
    text-align: center;
}

/* keep press buttons and submit button inline */
label {
    margin-bottom: 0; 
}

h3 {
    margin-top: 4rem;
}

.select-checkbox, .select-radio {
    display: none;
}

.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    cursor: pointer;
}

.sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px; 
}

.ui-state-highlight { 
    height: 2rem; 
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(214, 214, 214) !important;
}

.c218-col {
    /* border-right: 1px solid lightblue; */

}